<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="__PUBLIC__/Admin/css/base.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/info-mgt.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/WdatePicker.css" />
<title>移动办公自动化系统</title>
</head>

<body>
<div class="title"><h2>信息管理</h2></div>
<div class="table-operate ue-clear">
	<a href="javascript:;" id="btnadd" class="add">添加</a>
    <a href="javascript:;" id="btndel" class="del">删除</a>
    <a href="javascript:;" id="btnedit" class="edit">编辑</a>
    <a href="javascript:;" class="count">统计</a>
    <a href="javascript:;" class="check">审核</a>
</div>
<div class="table-box">
	<table>
    	<thead>
            
        	<tr>
            	<th class="num">序号</th>
                <th class="name">部门</th>
                <th class="process">所属部门</th>
                <th class="node">排序</th>
                <th class="time">备注</th>
                <th class="operate">操作</th>
            </tr>
            
        </thead>
        <tbody>
        <volist name="data" id="vo">
        	<tr>
            	<td class="num">{$vo.id}</td>
                <td class="name">{$vo.level|str_repeat='&nbsp;',###*2}{$vo.name}</td>
                <td class="process"><if condition="$vo.pid_name == ''">顶级分类<else/>{$vo.pid_name}</if></td>
                <td class="node">{$vo.sort}</td>
                <td class="time">{$vo.remark}</td>
                <td class="operate"><input type="checkbox" value="{$vo.id}"></td>
            </tr>
        </volist>
        </tbody>
    </table>
</div>
<div class="pagination ue-clear"></div>
</body>
<script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/common.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.pagination.js"></script>
<script type="text/javascript">
$(".select-title").on("click",function(){
	$(".select-list").hide();
	$(this).siblings($(".select-list")).show();
	return false;
})
$(".select-list").on("click","li",function(){
	var txt = $(this).text();
	$(this).parent($(".select-list")).siblings($(".select-title")).find("span").text(txt);
})

$('.pagination').pagination(100,{
	callback: function(page){
		alert(page);	
	},
	display_msg: true,
	setPageNo: true
});

$("tbody").find("tr:odd").css("backgroundColor","#eff6fa");

showRemind('input[type=text], textarea','placeholder');
//jquery实现编辑和删除的功能
$(function(){
    $('#btnedit').on('click', function(){
        var id = $(':checkbox:checked').val();
        window.location.href = '__CONTROLLER__/edit/id/'+ id;
    });
    $('#btndel').on('click', function(){
        var ids = $(':checkbox:checked');
        var id = '';
        for (var i = 0; i < ids.length; i++) {
            id = id + ids[i].value + ',';
        }
        id = id.substring(0, id.length - 1);
        window.location.href = '__CONTROLLER__/del/ids/' + id;
    });
});
</script>
</html>
